<!DOCTYPE html>
<html>
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Account</li>
								</ul>
							</nav>
							<h4 class="title">Forgot Password</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="account-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 m-auto">
						<div class="account-form-wrap">
							<div class="login-form">
								<div class="content">
									<h4 class="title">Forgot Password</h4>
									<p>Please enter your email address so we can send you an email to reset your password.</p>
								</div>
								<form th:action="@{/auth/forgot-password}" method="post">
									<div class="row">
										<div class="col-12" th:if="${message}">
											<div class="alert alert-warning p-2">
												<i class="text-danger" th:text="${message}"></i>
											</div>
										</div>
										<div class="col-12">
											<label class="form-label">Email address</label>
											<div class="form-group">
												<input class="form-control" name="email" type="email" placeholder="Enter your email" required>
											</div>
										</div>
										<div class="col-12">
											<div class="login-form-group mt-0">
												<button class="btn-sign d-block w-100" type="submit">Submit</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>